<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head.ejs %>
</head>

  <body>
    <!-- nav bar -->
    <nav>
      <% include ./partials/nav.ejs %>
    </nav>
    <div class="welcome-forms"> 
      <div class="row">
        <div class="col s4 welcome">Sign Up</div>
        <div class="col s4 welcome">Play Now</div>
        <div class="col s4 welcome">Login</div>
      </div>
    </div>  
    <!-- paralax effect -->
    <div class="parallax-container">
      <div class="parallax">
        <img src="/images/concert.jpg">
      </div>
    </div>
    <footer>
      <% include ./partials/footer.ejs %>
    </footer>
  </body>
</html>
