body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
}

title {
  text-align: center;
}

<<<<<<< HEAD
.container{
  background: #689f38 light-green darken-2;
=======

.container {
  width: 100%;
  height: 1000px;
  max-height: 635px;
  position: relative;
  max-width: 1450px;
}

#container-game {
  background-color: #FFFFFF;
  border-radius: 10px;
  top: 150px;
}


.game-row {
  margin-right: 0px;
  margin-left: 0px;
}

<<<<<<< HEAD
=======
#leader-board, #game-board, #chat-board {
position: relative;
max-height: 1000px;
overflow: auto;
}

>>>>>>> 15a4a678fe1a94cfce51f8535c41e37c7932e9e0
.chat {
  position:absolute;
  bottom:0;
  border: 1px solid black;
  height: 100px;
  width: 800px;
  left: 20%;
  background-color: rgba(000, 000, 000, .5);
>>>>>>> b779fd44fc24a8bb499454a46452613ab73eec0c
}

.welcome {
  height: 500px;
  text-align: center;
  margin-top: 100px;
}

.welcome-forms {
  background-color: #ffffff;
  padding:0 20px;
  border-radius: 30px;
}

.playnow {
  height: 100px;
  width: 200px;
  background-color: pink;
  margin: 60px auto;
  border-radius: 10px;
  text-align: center;
  padding: 40px;
  cursor: pointer;
}

.cool-content {
  height: 500px;
  background-color: #ffffff;
  width: 100%;
}

.cool-content p{
  text-align: justify;
}

/*paralax effect*/
.parallax-container {
      height: 690px;
    }

nav {
<<<<<<< HEAD
  background: rgba(000,000,000, .9);
  position: fixed;
  box-shadow: none;
=======
  background: rgba(0,0,0, 0);
  position: fixed;
  z-index: 5;
>>>>>>> b779fd44fc24a8bb499454a46452613ab73eec0c
}

/*forms*/

.form-container {
  background-color: white;
  margin: 60px auto;
  border-radius: 10px;
}

.form-container-partial {
  background-color: #ffffff;
  margin:0 auto;
  border-radius: 10px;
}

.signup {
  height:550px;
  width:450px;
  padding: 10px;
}

.register-partial {
  height:460px;
  width:330px;
  padding: 2px;
}

.login {
  height:370px;
  width:450px;
  padding: 10px;
}

.login-partial {
  height:350px;
  width:330px;
  padding: 15px;
}

.row {
  margin-bottom: 0;
}

.form-container h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}
<<<<<<< HEAD
]
=======


>>>>>>> b779fd44fc24a8bb499454a46452613ab73eec0c
