body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
}

title {
  text-align: center;
}

.container{
  background: #689f38 light-green darken-2;
}

.welcome {
  height: 500px;
  text-align: center;
  margin-top: 100px;
}

.welcome-forms {
  background-color: #ffffff;
  padding:0 20px;
  border-radius: 30px;
}

.playnow {
  height: 100px;
  width: 200px;
  background-color: pink;
  margin: 60px auto;
  border-radius: 10px;
  text-align: center;
  padding: 40px;
  cursor: pointer;
}

.cool-content {
  height: 500px;
  background-color: #ffffff;
  width: 100%;
}

.cool-content p{
  text-align: justify;
}

/*paralax effect*/
.parallax-container {
      height: 690px;
    }

nav {
  background: rgba(000,000,000, .9);
  position: fixed;
  box-shadow: none;
}

/*forms*/

.form-container {
  background-color: white;
  margin: 60px auto;
  border-radius: 10px;
}

.form-container-partial {
  background-color: #ffffff;
  margin:0 auto;
  border-radius: 10px;
}

.signup {
  height:550px;
  width:450px;
  padding: 10px;
}

.register-partial {
  height:460px;
  width:330px;
  padding: 2px;
}

.login {
  height:370px;
  width:450px;
  padding: 10px;
}

.login-partial {
  height:350px;
  width:330px;
  padding: 15px;
}

.row {
  margin-bottom: 0;
}

.form-container h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}
]
